@{Adherent adherent = (Adherent)Session["Adherent"] ?? null;
    var isConnected = adherent != null;
}


<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mon application ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-dark-bg bg-dark navbar-expand-sm fixed-top">
        <a class="navbar-brand" href=@Url.Action("Index", "Sorties")>
            <img class="mx-3" src="~/Images/rubon25.png" height="40" alt="logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-list-3" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-list-3">
            <ul class="navbar-nav ml-auto">

                @if (isConnected == true)
                {
                    <li class="nav-item mx-4">
                        <a class="nav-link" href="@Url.Action("Index", "Sorties")">Accueil</a>
                    </li>
                }

                @if (isConnected == true && adherent.Responsable == true)
                {
                    <li class="nav-item dropdown mx-4">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Responsable Access
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="@Url.Action("Index","HistoriquePaiements", new { idAdherent = adherent.IdAdherent } )">Tresorerie</a>
                            <a class="dropdown-item" href="@Url.Action("Create","Sorties", new { idAdherent = adherent.IdAdherent } )">Créer Sortie</a>
                            <a class="dropdown-item" href="@Url.Action("Create","Adherents", new { idAdherent = adherent.IdAdherent } )">Inscrire Adhérent</a>
                        </div>
                    </li>
                }

                @if (isConnected == true)
                {
                    <li class="nav-item mx-4">
                        <a class="nav-link" href="@Url.Action("MesSorties","Sorties")">Mes Sorties</a>
                    </li>

                    <li class="nav-item mx-4">
                        <a class="navbar-brand">
                            <span id="soldeCount">@adherent.Solde €</span>
                        </a>
                    </li>

                    <li class="nav-item mx-4">
                        <a class="nav-link" href="@Url.Action("Deconnection","Adherents")">Déconnexion</a>
                    </li>
                }



            </ul>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Mon application ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
