@model IEnumerable<ProjAsso.Sortie>

@{
    ViewBag.Title = "Index";
    Adherent adherent = ViewBag.Adherent;
}

<h2>Sorties</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prix)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Association.Nom)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prix)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @if (item.SortieAdherents.FirstOrDefault(i => i.IdAdherent == adherent.IdAdherent) != null)
                {
                    @Html.ActionLink("Annuler", "CancelInscription", "Sorties")
                }
                else
                {
                    @Html.ActionLink("S'inscrire", "Inscription", "Sorties", new {id = item.IdSortie }, null)
                }
            </td>
        </tr>
    }

</table>
