@model IEnumerable<ProjAsso.Sortie>

@{
    ViewBag.Title = "Index";
    Adherent adherent = ViewBag.Adherent;

}

@section scripts{

    @if (TempData["Modal"] != null)
    {
        int message = Convert.ToInt32(TempData["Modal"]);

        <script>
            //Appel de ma méthode openModal créée ci-dessous (@@ avant ma var message car c#, sinon non visible)
            $(document).ready(function () {
                $('.btnInscription').click(openModal(@message))
            });

            //Creation de la méthode openModal -> ouvrir ma modal et envoyer un message en fonction de tempdata
            function openModal(message) {
                $('#modalError').modal('show');
                if (message == 1) {
                    $('#message').html('Votre solde ne vous permet pas de vous inscrire');
                } else if (message == 2) {
                    $('#message').html('Il n\'y a plus de places disponibles pour cette sortie');
                }
            }
        </script>
    }

}

<h2>Sorties</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prix)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Association.Nom)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prix)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @String.Format("{0:dd/MM/yyyy}", item.Date)
            </td>
            <td>
                @*Vérification de l'inscription du user pour chaque sortie de la liste*@
                @if (item.SortieAdherents.FirstOrDefault(i => i.IdAdherent == adherent.IdAdherent) != null)
                {
                    @*<button type="button" data-idsortie="@item.IdSortie" class="btn btn-danger annuler">Annuler</button>*@
                    @Html.ActionLink("Annuler", "CancelInscription", "Sorties", new { idSortie = item.IdSortie, idAdherent = adherent.IdAdherent, idAssociation = adherent.IdAssociation }, null)
                }
                else
                {
                    @*<button type="button" data-idsortie="@item.IdSortie" class="btn btn-danger shadow" data-dismiss="modal">S'inscrire</button>*@
                    @Html.ActionLink("S'inscrire", "Inscription", "Sorties", new { idSortie = item.IdSortie, idAdherent = adherent.IdAdherent }, new { @class = "btnInscription" })
                }

                @Html.ActionLink("Details", "Details", new { id = item.IdSortie })
            </td>
        </tr>
    }

</table>

<div class="modal fade" id="modalError" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body" id="message">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>

